.row{
    clear:both;
}

.cell{
    width:50px;
    height:50px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}

.light{
    background-color:#DDDDDD;
}

.dark{
    background-color:#222222;
}

.piece{
    height:80%;
    width:80%;
    border-radius: 50%;
}

.red{
    background-color:#c11;
}

.blue{
    background-color:#48f;
}

.selected{
    box-shadow: 0 0 0 2pt white;
}